.chat{
    width: 100%;
    height: 25.7em;
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    flex-direction: Column;
    padding: 10px;
    background: #fff;
}
.message-envoi{
    
    float: right;
    background: rgb(190, 38, 196);
    color: white;
    border-radius:  0 10px 1px 10px; 
    padding: 5px;
    position: relative;
    
    
}
.message-recept{
   
    float: left;
    max-width: 90%;
    background-color: #cccccc;
    color: black;
    border-radius: 0 10px 1px 10px;
    padding: 5px; 
}
.main-chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43%;
    margin: auto;
}
#user{
    font-size: 15px;
    color: black;
}
#date{
    font-size: 10px;
    
    color: whitesmoke;
}
form .mess{
    border: 1px solid #5555;
    width: 95%;
    height: 2.15em;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 19px;
    padding: 9px;
    font-family: sans-serif;
    border-radius: 0 0 0 8px;
    justify-content: center;
}
.msg-recept{
    align-items: end;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
form input{
    border: none;
    background: rgb(190, 38, 196);
    box-shadow: 0 6px 6px 0;
    color: whitesmoke;
    padding: 3px;
}
.msg-envoi{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 75%;
}
form{
    display: flex;
    width: 100%;
    
    background: #cccccccc;
    justify-content: center;
    padding: 10px;
}
form i{
    justify-content: center;
    width: 5%;
    height: 2.15em;
    color: #0003bf;
    padding: 10px;
} 
